<nav class="navbar">
    <ul class="navbar-menu">
        <% if (user) { %> 
            <li><a href="/api/auth/personalinfo">Perfil</a></li>
            <li id="user-email">Correo: <%= user.email %></li>
            <form action="/api/auth/logout" method="POST">
                <button id="botonLogout" type="submit">Cerrar Sesión</button>
            </form>
        <% } else { %> 
            <li><a href="/api/auth/login">Iniciar Sesión</a></li>
            <li><a href="/api/auth/singup">Registrarse</a></li>
        <% } %> 
    </ul>
</nav>