<nav>
    <ul>
        <li><a href="/">Inicio</a></li>

        <% if (user) { %> 
            <li><a href="/api/auth/personalinfo">Perfil</a></li>
            <li><a href="/api/auth/logout">Cerrar Sesión</a></li>
            
            
            <li id="user-email">Correo: <%= user.email %></li>
        <% } else { %> 
            <li><a href="/api/auth/login">Iniciar Sesión</a></li>
            <li><a href="/api/auth/signup">Registrarse</a></li>
        <% } %> 
    </ul>
</nav>