<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="/styles/styles.css">

</head>
<body>

    <div class="background-container">
        <div class="login-card">
          <h2 class="login-title">Sing up</h2>
          <form class="login-form" action="/api/users" method="post">

            <div class="form-group">
              <label for="name">
                <i class="fas fa-user"></i> Name
              </label>
              <input type="text" id="name" name="name" placeholder="Enter your name">
            </div>

            <div class="form-group">
                <label for="lastName">
                  <i class="fas fa-user"></i> LastName
                </label>
                <input type="text" id="lastName" name="lastName" placeholder="Enter your lastName">
            </div>

            <div class="form-group">
                <label for="email">
                  <i class="fas fa-user"></i> Email
                </label>
                <input type="email" id="email" name="email" placeholder="Enter your email">
            </div>

            <div class="form-group">
                <label for="password">
                  <i class="fas fa-user"></i> Password
                </label>
                <input type="password" id="password" name="password" placeholder="Enter your password">
            </div>

            <div class="form-group">
                <label for="confirmPassword">
                  <i class="fas fa-user"></i>Confirm Password
                </label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Enter your password">
            </div>

            
            <div class="form-group">
                <label for="role">Rol:</label>
                <select id="role" name="role" required>
                    <option value="ADMIN_ROLE">Administrador</option>
                    <option value="USER_ROLE">Usuario</option>
                </select><br><br>
            </div>
            <div class="form-options">
                <a href="/api/auth/login" class="forgot-password">Go Login</a>
              </div>

            <button type="submit" class="login-button">Register</button>

            <script>
                // Verifica si las contraseñas coinciden antes de enviar el formulario
                document.querySelector("form").addEventListener("submit", function(event) {
                    const password = document.getElementById("password").value;
                    const confirmPassword = document.getElementById("confirmPassword").value;
        
                    if (password !== confirmPassword) {
                        event.preventDefault();  // Evita que se envíe el formulario
                        alert("Las contraseñas no coinciden. Por favor, verifique.");
                    }
                });
            </script>
          </form>

          
        </div>

      </div>
    
 

</body>
</html>
